Repository grakeice/nestjs-micropost: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend exec prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

.lintstagedrc.yaml:

apps/backend/**/*.{ts,js}:
  - pnpm --filter backend exec prettier --write
  - pnpm --filter backend exec eslint --fix

apps/frontend/**/*.{ts,tsx,js,mjs,cjs,jsx}:
  - pnpm --filter frontend exec prettier --write
  - pnpm --filter frontend exec eslint --fix

apps/backend/**/*.{yaml,json,md,html,css}:
  - pnpm --filter backend exec prettier --write

apps/frontend/**/*.{yaml,json,md,html,css}:
  - pnpm --filter frontend exec prettier --write

fix: ポスト送信時にページがおかしくなる事象の修正
  apps/frontend/src/components/Body.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/PostList.tsx
  apps/frontend/src/components/SideBar.tsx
  apps/frontend/src/layouts/PostLayout.tsx
  apps/frontend/src/pages/main.tsx
  apps/frontend/src/pages/user.tsx
  apps/frontend/src/services/user.ts
Due: pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

fix: ユーザーでのガード
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/jwt.strategy.ts
  apps/backend/src/post/post.controller.spec.ts
  apps/backend/src/post/post.controller.ts
  apps/backend/src/post/post.service.ts
  apps/backend/src/types/jwtPayload.d.ts
  apps/backend/src/types/requestUser.d.ts
  apps/backend/src/user/user.controller.ts
  apps/backend/src/user/user.service.ts
  apps/frontend/src/services/user.ts
Due: pnpm --filter backend exec prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

update packages
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter backend exec prettier --write, pnpm --filter frontend exec prettier --write

fix: post.tsにエラーハンドリングを追加
  apps/frontend/eslint.config.js
  apps/frontend/src/services/post.ts
Due: pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

update packages
  package.json
  pnpm-lock.yaml
Due: none

fix: use class-validator "IsEmail" instead of "IsString" for email field of dto class
  apps/backend/src/post/post.controller.ts
  apps/backend/src/user/dto/createUser.dto.ts
  apps/backend/src/user/dto/editUser.dto.ts
Due: pnpm --filter backend exec prettier --write, pnpm --filter backend exec eslint --fix

fix: 検索時に1ページ目に戻るように
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/PostList.tsx
  apps/frontend/src/hooks/usePostList.ts
Due: pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

fix: add IsOptional decorator for dto fields which is optional
  apps/backend/src/user/dto/editUser.dto.ts
Due: pnpm --filter backend exec prettier --write, pnpm --filter backend exec eslint --fix

Update apps/frontend/src/services/post.ts
  apps/frontend/src/services/post.ts
Due: pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

fix: テーブル作成の際に、カラム名はスネークケース、フィールド名はキャメルケースにするように
  apps/backend/src/entities/auth.entity.ts
  apps/backend/src/entities/microposts.entity.ts
  apps/backend/src/entities/user.entity.ts
  apps/backend/src/post/post.service.ts
  apps/backend/src/user/dto/editUser.dto.ts
  apps/backend/src/user/user.controller.ts
  apps/backend/src/user/user.service.ts
  apps/frontend/src/components/SideBar.tsx
  apps/frontend/src/services/auth.ts
  apps/frontend/src/services/post.ts
  apps/frontend/src/services/user.ts
Due: pnpm --filter backend exec prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec prettier --write, pnpm --filter frontend exec eslint --fix

update packages
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend exec prettier --write
